*{

    box-sizing: border-box; /* padding & borders go inside box */

}

html, body {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #333;
    overflow: hidden;

}

.landing{

    position: relative; /* .landing-inner is absolute */
    background-image: url(../img/showcase.jpg);   
    background-size: cover;  /* cover everything */
    background-position: center;
    height: 100vh; /* Take entire browser height */

}
