*{

    box-sizing: border-box; /* padding & borders go inside box */

}

html, body {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #333;
    overflow: hidden;

}

.landing{

    position: relative; /* .landing-inner is absolute */
    background-image: url(../img/showcase.jpg);   
    background-size: cover;  /* cover everything */
    background-position: center;
    height: 100vh; /* Take entire browser height */

}

.landing-inner{

    position: absolute; /* completely cover parent .landing */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7 ); /* opacity = 0.7 */
    text-align: center;
    padding-top: 50px;

}


.landing h1{

    font-size: 50px;
    
}

.landing p{

    font-size: 20px;

}

/* Align & Center Countdown */
.countdown{

    font-size: 50px;
    display: flex; /* Align horizontally */
    justify-content: center; 
    align-items: center;
    text-align: center;
}

/* Style divs of Days, Hours, Minutes & Seconds */
.countdown div{

    padding: 20px; /* adds space betweeb divs */
    border: 1px solid #FFF;
    border-radius: 10px;
    margin: 5px;
    opacity: 0.7;
    background: #000;

}

/* Add background color to countdown divs  */
.countdown div:first-child{ /* Get first element of the class */

    background: #17a2b8;

}

/* Style Time Labels */
.countdown span{

    display: block; /* Move label to next line */
    font-size: 25px;

}


/* Fit to Screen (Make Responsive) */
@media(max-width: 650px){

    .landing img{

        width: 70%; /* Reduce logo width on small screens */

    }

    .landing h1{

        font-size: 40px; /* Reduce font-size */

    }

    .countdown {

        font-size: 30px; /* Increase font-size */


    }

}




